
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <h1>Hello, world!</h1>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>





<div class="page-header">
Listing statuses
<%= link_to "New Status ",new_status_path ,:class =>"btn btn-success" %>
</div>

<% @statuses.each do |status|%>
<div class="strong"><%= status.name %></div>
<p><%= status.content %></p>
<%= link_to time_ago_in_words(status.created_at)+ "ago", status %>
<p><%= link_to 'Show', status %></p>
<p><%= link_to 'Edit', edit_status_path(status) %></p>
<p><%= link_to 'Destroy', status, method: :delete, data: { confirm: 'Are you sure?' } %></p>
<hr>
<%end%>

























